*{
  box-sizing: border-box;
}

html{
  background:black;
}

/*.ring{
  width: 400px;
  height: 500px;
  background: red;
  position:fixed;
  bottom:10%;
  left:20%;
  transform: skew(-30deg);
}

.ring2{
  width: 400px;
  height: 500px;
  position:fixed;
  bottom:10%;
  right:20%;
  background: red;
  transform: skew(30deg);
}



.ringring{

}*/

#field {
  background-image: url("../images/background1.gif");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

#winner {
  width: 100%;
  height: 300px;
  position: absolute;
  text-align: center;
  bottom: 0;
}

#winner img {
  width: 400px;
  height: 100%;
  position: absolute;
}

.fighter1{
  width: 20%;
  max-width: 250px;
  height: 200px;
  position:fixed;
  left:10%;
  bottom: 5%;
  background: transparent;
}


.fighter2{
  width: 20%;
  max-width: 250px;
  height: 200px;
  position:fixed;
  right:10%;
  bottom: 5%;
  background: transparent;
}

.show {
  display: block;
}

.fighter1 img  {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 210px;
}

.fighter2 img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 200px;
 
}

.turnH {
   transform: scaleX(-1);
  filter: FlipH;
}

.bubble1{
  border-radius: 100px 100px 100px 1px;
  left:calc(10% + 75px);
  bottom:calc(15% + 125px);

}


.bubble2{
  border-radius:50px 50px 1px 50px;
  right:calc(10% + 75px);
  bottom: calc(15% + 125px);
}

.bubble {
  width:175px;
  padding: 15px;
  background: white;
  border: 2px solid black;
  position:fixed;
  text-align:center;
  color: purple;
  font-weight: bold;
  font-size: 18px;
}



.slogandisappear{
  display:none;
}

@keyframes clashing1{
  50%{
    left:39%;
  }
}

.fadeIn {
  animation: fadeIn 2s linear;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes clashing2{
  50%{
    right:39%;
  }
}

.fighter1clash{
  animation: clashing1 4s linear forwards;
}


.fighter2clash{
  animation: clashing2 4s linear forwards;
}

.fight{
  width:300px;
  height:50px;
  position:fixed;
  top:25px;
  left:calc(50% - 150px);
  color:red;
  font-size:2rem;
  text-align: center;
  align-items: center;
  /* animation:fightani 2s infinite ease-in-out; */

}

@keyframes fightani{
  50%{transform: scale(1.1)}
  100%{transform: scale(1)}
}



.divstats1{
  position:fixed;
  left:2%;
  top:80px;
  padding: 10px;
  background:gray;
  text-align: center;
  font-size: 1.5rem;
  transition: 3s;    
}


.divstats2{
  position:fixed;
  right:2%;
  top:80px;
  padding: 10px;
  background:gray;
  text-align: center;
  font-size: 1.5rem;
}

.hidden {
  opacity: 0;
}

.sloganremove{
  animation: sloremov 2s linear forwards;
  animation-delay:2s;
}

@keyframes sloremov{
  100%{opacity:0;}
}

.visible{
  animation: results 6s linear forwards;
  animation-delay:6s;
}

@keyframes results{
  100%{opacity:1;}
}

.results1{
  position:fixed;
  background-color: green;
  top:200px;
  font-size:2rem;
  font-weight:bolder;
  left:calc(50% - 125px);
  width:250px;
  height:50px;
  border:3px solid yellow;
  opacity:0;
  text-align:center;
  transition: .5s;

}
