*{
  box-sizing: border-box;
}

html{
  background:blue;
}

/*.ring{
  width: 400px;
  height: 500px;
  background: red;
  position:fixed;
  bottom:10%;
  left:20%;
  transform: skew(-30deg);
}

.ring2{
  width: 400px;
  height: 500px;
  position:fixed;
  bottom:10%;
  right:20%;
  background: red;
  transform: skew(30deg);
}



.ringring{

}*/

.fighter1{
  width:70px;
  height:210px;
  background:black;
  position:fixed;
  left:10%;
  bottom:15%;
}


.fighter2{
  width:70px;
  height:210px;
  background:black;
  position:fixed;
  right:10%;
  bottom:15%;
}


.bubble1{
  width:130px;
  height:50px;
  border-radius:50px 50px 50px 1px;
  background:white;
  position:fixed;
  left:calc(10% + 75px);
  bottom:calc(15% + 215px);
  text-align:center;
  align-items: center;
}


.bubble2{
  width:130px;
  height:50px;
  border-radius:50px 50px 1px 50px;
  background:white;
  position:fixed;
  right:calc(10% + 75px);
  bottom: calc(15% + 215px);
  text-align: center;
  align-items: center;

}

.slogandisappear{
  display:none;
}

@keyframes clashing1{
  50%{
    left:50%;
  }
}

@keyframes clashing2{
  50%{
    right:50%;
  }
}

.fighter1clash{
  animation: clashing1 1s linear forwards;
  animation-delay: 4s;
}


.fighter2clash{
  animation: clashing2 1s linear forwards;
  animation-delay: 4s;
}

.fight{
  width:300px;
  height:50px;
  position:fixed;
  top:25px;
  left:calc(50% - 150px);
  color:red;
  font-size:2rem;
  text-align: center;
  align-items: center;
  animation:fightani 2s infinite ease-in-out;

}

@keyframes fightani{
  50%{transform: scale(1.1)}
  100%{transform: scale(1)}
}

.fighttext{

}


.divstats1{
  position:fixed;
  left:2%;
  top:80px;
  width:300px;
  height:100px;
  background:gray;
  text-align: center;
  font-size:2rem;

}


.divstats2{
  position:fixed;
  right:2%;
  top:80px;
  width:300px;
  height:100px;
  background:gray;
  text-align: center;
  font-size:2rem;
}


.sloganremove{
  animation: sloremov 2s linear forwards;
  animation-delay:2s;
}

@keyframes sloremov{
  100%{opacity:0;}
}

.visible{
  animation: results 6s linear forwards;
  animation-delay:6s;
}

@keyframes results{
  100%{opacity:1;}
}

.results1{
  position:fixed;
  top:200px;
  font-size:2rem;
  font-weight:bolder;
  left:calc(50% - 125px);
  width:250px;
  height:50px;
  border:3px dotted yellow;
  opacity:0;
  text-align:center;

}
